<hr>
<h5>create:</h5>
<hr>
<h6>request</h6>

<pre class="prettyprint lang-js">
http://localhost:8081/collection/{collectionName}

curl -X POST http://localhost:8081/collection/collection1 \
-H Content-type:application/json \
-H X-Auth-AppKey:123 \
-H X-Auth-Token:57d7d5b1-0815-4c2c-a3ad-005e9bb47fe7 -v
</pre>
<h6>response</h6>
<pre class="prettyprint lang-js">
HTTP/1.1 200 OK
X-Auth-Token: 2d290c56-8a48-4dd2-b026-7402810b3de3
{
"code":70003,
"message":"Collection created successfully"
}
</pre>
<hr>
<h5>delete:</h5>
<hr>
<h6>request</h6>

<pre class="prettyprint lang-js">
http://localhost:8081/collection/{collectionName}

curl -X DELETE http://localhost:8081/collection/collection1 \
-H Content-type:application/json \
-H X-Auth-AppKey:123 \
-H X-Auth-Token:57d7d5b1-0815-4c2c-a3ad-005e9bb47fe7 -v
</pre>
<h6>response</h6>
<pre class="prettyprint lang-js">
HTTP/1.1 200 OK
X-Auth-Token: 18316e5b-4aac-45b5-acef-8d3671a2d84d
{
"code":70004,
"message":"Collection deleted successfully"
}
</pre>

<hr>
<h5>create index:</h5>
<hr>
<h6>request</h6>

<pre class="prettyprint lang-js">
http://localhost:8081/collection/{collectionName}/index

curl -X POST http://localhost:8081/collection/collection1/index \
-d'{ a: 1 }, { unique: true }' \
-H Content-type:application/json \
-H X-Auth-AppKey:123 \
-H X-Auth-Token:57d7d5b1-0815-4c2c-a3ad-005e9bb47fe7 -v
</pre>
<h6>response</h6>
<pre class="prettyprint lang-js">
HTTP/1.1 200 OK
X-Auth-Token:57d7d5b1-0815-4c2c-a3ad-005e9bb47fe7
{
"code":70007,
"message":"Indexes created successfully"
}
</pre>

<hr>
<h5>get indexes:</h5>
<hr>
<h6>request</h6>

<pre class="prettyprint lang-js">
http://localhost:8081/collection/{collectionName}/index

curl http://localhost:8081/collection/collection1/index \
-H Content-type:application/json \
-H X-Auth-AppKey:123 \
-H X-Auth-Token:57d7d5b1-0815-4c2c-a3ad-005e9bb47fe7 -v
</pre>
<h6>response</h6>
<pre class="prettyprint lang-js">
HTTP/1.1 200 OK
X-Auth-Token:57d7d5b1-0815-4c2c-a3ad-005e9bb47fe7
[
{"v":1,"key":{"_id":1},"name":"_id_","ns":"deckend-core.collection1"},
{"v":1,"key":{"a":1},"name":"a_1","ns":"deckend-core.collection1"}
]
</pre>

<hr>
<h5>drop index:</h5>
<hr>
<h6>request</h6>

<pre class="prettyprint lang-js">
http://localhost:8081/collection/{collectionName}/index/{indexName}

curl -X DELETE http://localhost:8081/collection/collection1/index/a_1 \
-H Content-type:application/json \
-H X-Auth-AppKey:123 \
-H X-Auth-Token:57d7d5b1-0815-4c2c-a3ad-005e9bb47fe7 -v
</pre>
<h6>response</h6>
<pre class="prettyprint lang-js">
HTTP/1.1 200 OK
X-Auth-Token:57d7d5b1-0815-4c2c-a3ad-005e9bb47fe7
{
"code":70008,
"message":"Indexes dropped successfully"
}
</pre>
