<hr>
<h5>create:</h5>
<hr>
<h6>request</h6>

<pre class="prettyprint lang-js">
http://localhost:8081/document/{collectionName}

curl -X POST http://localhost:8081/document/collection1 \
-d "{ 'title': 'I am a title', 'body': 'I am a body'}" \
-H Content-type:application/json \
-H X-Auth-AppKey:123 \
-H X-Auth-Token:57d7d5b1-0815-4c2c-a3ad-005e9bb47fe7 -v
</pre>
<h6>response</h6>
<pre class="prettyprint lang-js">
HTTP/1.1 200 OK
X-Auth-Token: 2d290c56-8a48-4dd2-b026-7402810b3de3
{
"title":"I am a title",
"body":"I am a body",
"addUser":"diogo",
"addDate":"2015-09-23T17:07:07.977",
"changeUser":null,
"changeDate":null,
"version":0,
"_class":"collection1",
"_id":"5603066be728e4ee4664610a"
}
</pre>

<hr>
<h5>update:</h5>
<hr>
<h6>request</h6>

<pre class="prettyprint lang-js">
http://localhost:8081/document/{collectionName}

curl -X PUT http://localhost:8081/document/collection1 \
-d '{"title":"I am a title", "body":"I am a body", "addUser":"diogo", "addDate":"2015-09-23T17:07:07.977", "changeUser":null, "changeDate":null, "version":0, "_class":"collection1", "_id":"5603066be728e4ee4664610a", "note": "updated"}' \
-H Content-type:application/json \
-H X-Auth-AppKey:123 \
-H X-Auth-Token:57d7d5b1-0815-4c2c-a3ad-005e9bb47fe7 -v
</pre>
<h6>response</h6>
<pre class="prettyprint lang-js">
HTTP/1.1 200 OK
X-Auth-Token:57d7d5b1-0815-4c2c-a3ad-005e9bb47fe7
{
"title":"I am a title",
"body":"I am a body",
"addUser":"diogo",
"addDate":"2015-09-23T17:07:07.977",
"changeUser":"diogo",
"changeDate":"2015-09-23T17:13:41.640",
"version":1,
"_class":"collection1",
"note":"updated",
"_id":"5603066be728e4ee4664610a"
}
</pre>

<hr>
<h5>update partial:</h5>
<hr>
<h6>request</h6>

<pre class="prettyprint lang-js">
http://localhost:8081/document/{collectionName}/{documentId}

curl -X PUT http://localhost:8081/document/collection1/5603066be728e4ee4664610a \
-d "{ 'title': 'I am a title updated'}" \
-H Content-type:application/json \
-H X-Auth-AppKey:123 \
-H X-Auth-Token:57d7d5b1-0815-4c2c-a3ad-005e9bb47fe7 -v
</pre>
<h6>response</h6>
<pre class="prettyprint lang-js">
HTTP/1.1 200 OK
X-Auth-Token:57d7d5b1-0815-4c2c-a3ad-005e9bb47fe7
{
"title":"I am a title updated",
"body":"I am a body",
"addUser":"diogo",
"addDate":"2015-09-23T17:07:07.977",
"changeUser":"diogo",
"changeDate":"2015-09-23T17:18:12.309",
"version":2,
"_class":"collection1",
"note":"updated",
"_id":"5603066be728e4ee4664610a"
}
</pre>

<hr>
<h5>delete:</h5>
<hr>
<h6>request</h6>

<pre class="prettyprint lang-js">
http://localhost:8081/document/{collectionName}/{documentId}

curl -X DELETE http://localhost:8081/document/collection1/5603066be728e4ee4664610a \
-H Content-type:application/json \
-H X-Auth-AppKey:123 \
-H X-Auth-Token:57d7d5b1-0815-4c2c-a3ad-005e9bb47fe7 -v
</pre>
<h6>response</h6>
<pre class="prettyprint lang-js">
HTTP/1.1 200 OK
X-Auth-Token:57d7d5b1-0815-4c2c-a3ad-005e9bb47fe7
{
"code":70005,
"message":"Document deleted successfully"
}
</pre>

<hr>
<h5>queries: any mongo query is permitted</h5>
<hr>
<h6>request</h6>

<pre class="prettyprint lang-js">
http://localhost:8081/document/{collectionName}/find

curl -X POST http://localhost:8081/document/collection1/find \
-d "{'title': 'I am a title'}" \
-H Content-type:application/json \
-H X-Auth-AppKey:123 \
-H X-Auth-Token:57d7d5b1-0815-4c2c-a3ad-005e9bb47fe7 -v
</pre>
<h6>response</h6>
<pre class="prettyprint lang-js">
HTTP/1.1 200 OK
X-Auth-Token:57d7d5b1-0815-4c2c-a3ad-005e9bb47fe7
[
{"_id":"56030726e728e4ee4664610b",
"title":"I am a title",
"body":"I am a body",
"note":"updated",
"addUser":"diogo",
"addDate":"2015-09-23T17:10:14.809",
"changeUser":null,
"changeDate":null,
"version":0,
"_class":"collection1"
},
{
"_id":"560309e3e728e4ee4664610d",
"title":"I am a title",
"body":"I am a body",
"addUser":"diogo",
"addDate":"2015-09-23T17:21:55.302",
"changeUser":null,
"changeDate":null,
"version":0,"_class":"collection1"
}
]
</pre>

<hr>
<h5>Grant permission to user:</h5>
<hr>
<h6>request</h6>

<pre class="prettyprint lang-js">
http://localhost:8081/document/{collectionName}/{documentId}/{typePermission}/user/{username}

curl -X PUT http://localhost:8081/document/collection1/56030726e728e4ee4664610b/read/user/dtest \
-H Content-type:application/json \
-H X-Auth-AppKey:123 \
-H X-Auth-Token:57d7d5b1-0815-4c2c-a3ad-005e9bb47fe7 -v

</pre>
<h6>response</h6>
<pre class="prettyprint lang-js">
HTTP/1.1 200 OK
X-Auth-Token:57d7d5b1-0815-4c2c-a3ad-005e9bb47fe7
{
"code":70010,
"message":"Permission granted successfully"
}
</pre>

<hr>
<h5>Grant permission to role:</h5>
<hr>
<h6>request</h6>

<pre class="prettyprint lang-js">
http://localhost:8081/document/{collectionName}/{documentId}/{typePermission}/role/{role}

curl -X PUT http://localhost:8081/document/collection1/56030726e728e4ee4664610b/read/role/role_user \
-H Content-type:application/json \
-H X-Auth-AppKey:123 \
-H X-Auth-Token:57d7d5b1-0815-4c2c-a3ad-005e9bb47fe7 -v

</pre>
<h6>response</h6>
<pre class="prettyprint lang-js">
HTTP/1.1 200 OK
X-Auth-Token:57d7d5b1-0815-4c2c-a3ad-005e9bb47fe7
{
"code":70010,
"message":"Permission granted successfully"
}
</pre>

<hr>
<h5>Grant public permission:</h5>
<hr>
<h6>request</h6>

<pre class="prettyprint lang-js">
http://localhost:8081/document/{collectionName}/{documentId}/{typePermission}

curl -X PUT http://localhost:8081/document/collection1/56030726e728e4ee4664610b/read \
-H Content-type:application/json \
-H X-Auth-AppKey:123 \
-H X-Auth-Token:57d7d5b1-0815-4c2c-a3ad-005e9bb47fe7 -v

</pre>
<h6>response</h6>
<pre class="prettyprint lang-js">
HTTP/1.1 200 OK
X-Auth-Token:57d7d5b1-0815-4c2c-a3ad-005e9bb47fe7
{
"code":70010,
"message":"Permission granted successfully"
}
</pre>

<hr>
<h5>Revoke permission to user:</h5>
<hr>
<h6>request</h6>

<pre class="prettyprint lang-js">
http://localhost:8081/document/{collectionName}/{documentId}/{typePermission}/user/{username}

curl -X DELETE http://localhost:8081/document/collection1/56030726e728e4ee4664610b/read/user/dtest \
-H Content-type:application/json \
-H X-Auth-AppKey:123 \
-H X-Auth-Token:57d7d5b1-0815-4c2c-a3ad-005e9bb47fe7 -v

</pre>
<h6>response</h6>
<pre class="prettyprint lang-js">
HTTP/1.1 200 OK
X-Auth-Token:57d7d5b1-0815-4c2c-a3ad-005e9bb47fe7
{
"code":70011,
"message":"Permission revoked successfully"
}
</pre>

<hr>
<h5>Revoke permission to role:</h5>
<hr>
<h6>request</h6>

<pre class="prettyprint lang-js">
http://localhost:8081/document/{collectionName}/{documentId}/{typePermission}/role/{role}

curl -X DELETE http://localhost:8081/document/collection1/56030726e728e4ee4664610b/read/role/role_user \
-H Content-type:application/json \
-H X-Auth-AppKey:123 \
-H X-Auth-Token:57d7d5b1-0815-4c2c-a3ad-005e9bb47fe7 -v

</pre>
<h6>response</h6>
<pre class="prettyprint lang-js">
HTTP/1.1 200 OK
X-Auth-Token:57d7d5b1-0815-4c2c-a3ad-005e9bb47fe7
{
"code":70011,
"message":"Permission revoked successfully"
}
</pre>

<hr>
<h5>Revoke public permission:</h5>
<hr>
<h6>request</h6>

<pre class="prettyprint lang-js">
http://localhost:8081/document/{collectionName}/{documentId}/{typePermission}

curl -X DELETE http://localhost:8081/document/collection1/56030726e728e4ee4664610b/read \
-H Content-type:application/json \
-H X-Auth-AppKey:123 \
-H X-Auth-Token:57d7d5b1-0815-4c2c-a3ad-005e9bb47fe7 -v

</pre>
<h6>response</h6>
<pre class="prettyprint lang-js">
HTTP/1.1 200 OK
X-Auth-Token:57d7d5b1-0815-4c2c-a3ad-005e9bb47fe7
{
"code":70011,
"message":"Permission revoked successfully"
}
</pre>