<hr>
<h5>upload: 
<hr>
<h6>request</h6>

<pre class="prettyprint lang-js">
http://localhost:8081/file?collectionName={collectionName}

curl -X POST http://localhost:8081/file?collectionName=mycollection \
-F  'file=@KnowMe.bmpr' \
-H X-Auth-AppKey:123 \
-H X-Auth-Token:23a28b65-5458-40dd-bf1e-47706bcafaa5 -v
</pre>
<h6>response</h6>
<pre class="prettyprint lang-js">
HTTP/1.1 200 OK
X-Auth-Token:23a28b65-5458-40dd-bf1e-47706bcafaa5
{
"addUser":"root",
"addDate":"2015-09-25T17:09:13.765",
"changeUser":null,
"changeDate":null,
"version":0,
"_class":"mycollection",
"_id":"5605a9e906ea090db0d87052",
"filename":"KnowMe.bmpr",
"chunkSize":261120,
"contentType":"application/octet-stream",
"length":210944,
"md5":"6022737cf5560eb96d28655c7cb183d1"
}
</pre>

<hr>
<h5>download:</h5>
<hr>
<h6>request</h6>

<pre class="prettyprint lang-js">
http://localhost:8081/file/{documentId}

curl http://localhost:8081/file/5605a9e906ea090db0d87052 \
-H X-Auth-AppKey:123 \
-H X-Auth-Token:23a28b65-5458-40dd-bf1e-47706bcafaa5 -v
</pre>
<h6>response</h6>
<pre class="prettyprint lang-js">
HTTP/1.1 200 OK
X-Auth-Token:23a28b65-5458-40dd-bf1e-47706bcafaa5
[bytes]
</pre>

<hr>
<h5>delete:</h5>
<hr>
<h6>request</h6>

<pre class="prettyprint lang-js">
http://localhost:8081/file/{documentId}

curl -X DELETE http://localhost:8081/file/5605a9e906ea090db0d87052 \
-H X-Auth-AppKey:123 \
-H X-Auth-Token:23a28b65-5458-40dd-bf1e-47706bcafaa5 -v
</pre>
<h6>response</h6>
<pre class="prettyprint lang-js">
HTTP/1.1 200 OK
X-Auth-Token:23a28b65-5458-40dd-bf1e-47706bcafaa5
{
"code":70006,
"message":"File deleted successfully"
}
</pre>
