<hr>
<h5>create: 
</br> Only Admin users can do it</h5>
<hr>
<h6>request</h6>

<pre class="prettyprint lang-js">
curl http://localhost:8081/proxy \
-d '{ "useToken": "true", "name": "proxyTest", "url":"http://www.google.com", "port":"8080"}' \
-H Content-type:application/json \
-H X-Auth-AppKey:123 \
-H X-Auth-Token:ab0f5e27-5b68-4948-9a65-aca90744f82f -v
</pre>
<h6>response</h6>
<pre class="prettyprint lang-js">
HTTP/1.1 200 OK
X-Auth-Token:ab0f5e27-5b68-4948-9a65-aca90744f82f
{
"id":"56034b7bfbea9e5cac669bee",
"addUser":"root",
"changeUser":"root",
"addDate":[2015,9,23,22,1,47,765000000],
"changeDate":[2015,9,23,22,1,47,765000000],
"version":0,
"useToken":true,
"name":"proxyTest",
"url":"http://www.google.com",
"port":8080
}
</pre>

<hr>
<h5>update:</h5>
<hr>
<h6>request</h6>

<pre class="prettyprint lang-js">
curl -X PUT http://localhost:8081/proxy \
-d '{"id":"56034b7bfbea9e5cac669bee", "addUser":"root", "changeUser":"root", "addDate":[2015,9,23,22,1,47,765000000], "changeDate":[2015,9,23,22,1,47,765000000], "version":0, "useToken":true, "name":"proxyProduction", "url":"http://www.google.com", "port":8080}' \
-H Content-type:application/json \
-H X-Auth-AppKey:123 \
-H X-Auth-Token:ab0f5e27-5b68-4948-9a65-aca90744f82f -v
</pre>
<h6>response</h6>
<pre class="prettyprint lang-js">
HTTP/1.1 200 OK
X-Auth-Token:ab0f5e27-5b68-4948-9a65-aca90744f82f
{
"id":"56034b7bfbea9e5cac669bee",
"addUser":"root",
"changeUser":"root",
"addDate":[2015,9,23,22,1,47,765000000],
"changeDate":[2015,9,23,22,4,9,233000000],
"version":1,
"useToken":true,
"name":"proxyProduction",
"url":"http://www.google.com",
"port":8080
}
</pre>

<hr>
<h5>find by Id:</h5>
<hr>
<h6>request</h6>

<pre class="prettyprint lang-js">
http://localhost:8081/proxy/{documentId}

curl http://localhost:8081/proxy/56034b7bfbea9e5cac669bee \
-H Content-type:application/json \
-H X-Auth-AppKey:123 \
-H X-Auth-Token:ab0f5e27-5b68-4948-9a65-aca90744f82f -v
</pre>
<h6>response</h6>
<pre class="prettyprint lang-js">
HTTP/1.1 200 OK
X-Auth-Token:ab0f5e27-5b68-4948-9a65-aca90744f82f
{
"id":"56034b7bfbea9e5cac669bee",
"addUser":"root",
"changeUser":"root",
"addDate":[2015,9,23,22,1,47,765000000],
"changeDate":[2015,9,23,22,4,9,233000000],
"version":1,
"useToken":true,
"name":"proxyProduction",
"url":"http://www.google.com",
"port":8080
}
</pre>

<hr>
<h5>delete:</h5>
<hr>
<h6>request</h6>

<pre class="prettyprint lang-js">
http://localhost:8081/proxy/{proxyName}

curl -X DELETE http://localhost:8081/proxy/proxyProduction \
-H Content-type:application/json \
-H X-Auth-AppKey:123 \
-H X-Auth-Token:ab0f5e27-5b68-4948-9a65-aca90744f82f -v
</pre>
<h6>response</h6>
<pre class="prettyprint lang-js">
HTTP/1.1 200 OK
X-Auth-Token:57d7d5b1-0815-4c2c-a3ad-005e9bb47fe7
{
"code":70009,
"message":"Proxy deleted successfully"
}
</pre>

<hr>
<h5>Note: to use proxies just call the url http://localhost:8081/proxies/{proxyName} 
</br> example: http://localhost:8081/proxies/proxyProduction 
</br>Note: is not possible yet to use path variables or path parameters, you can pass headers e data on body.
</h5>
<h6>request</h6>
<pre class="prettyprint lang-js">
http://localhost:8081/proxies/{proxyName}

curl -X DELETE http://localhost:8081/proxies/proxyProduction \
-H Content-type:application/json \
-d "{ 'title': 'I am a title', 'body': 'I am a body'}" \
-H X-Auth-AppKey:123 \
-H X-Auth-Token:ab0f5e27-5b68-4948-9a65-aca90744f82f -v
</pre>
<h6>response</h6>
<pre class="prettyprint lang-js">
</pre>
<hr>
