<hr>
<h5>signUp:</h5>
<hr>
<h6>request</h6>

<pre class="prettyprint lang-js">
curl http://localhost:8081/user/signUp \
-d '{"username" : "diogo", "password" : "123", "email" : "diogocarleto@gmail.com"}' \
-H Content-type:application/json \
-H X-Auth-AppKey:123 -v
</pre>
<h6>response</h6>
<pre class="prettyprint lang-js">
HTTP/1.1 200 OK
X-Auth-Token: 2d290c56-8a48-4dd2-b026-7402810b3de3

{
"id":"55c8ea44ce24e06ef1fd7bb0",
"addUser":"system",
"changeUser":"system",
"addDate":[2015,8,10,15,15,32,502000000],
"changeDate":[2015,8,10,15,15,32,502000000],
"version":0,
"firstName":null,
"lastName":null,
"username":"diogo",
"password":null,
"email":"diogocarleto@gmail.com",
"role":"ROLE_USER"
}
</pre>
<hr>
<h5>signUp using phone number:</h5>
<hr>
<h6>request</h6>

<pre class="prettyprint lang-js">
curl http://localhost:8081/user/signUp \
-d '{"username" : "5555-9966", "password" : "123", "email" : "diogocarletoPhone@gmail.com"}' \
-H Content-type:application/json \
-H X-Auth-AppKey:123 -v
</pre>
<h6>response</h6>
<pre class="prettyprint lang-js">
HTTP/1.1 200 OK
X-Auth-Token: 18316e5b-4aac-45b5-acef-8d3671a2d84d
{
"id":"55c8eb01ce24e06ef1fd7bb2",
"addUser":"system",
"changeUser":"system",
"addDate":[2015,8,10,15,18,41,809000000],
"changeDate":[2015,8,10,15,18,41,809000000],
"version":0,
"firstName":null,
"lastName":null,
"username":"5555-9966",
"password":null,
"email":"diogocarletoPhone@gmail.com",
"role":"ROLE_USER"
}
</pre>

<hr>
<h5>signUp using facebook accessToken:</h5>
<hr>
<h6>request</h6>

<pre class="prettyprint lang-js">
http://localhost:8081/user/signUp/{socialNetworkName}

curl http://localhost:8081/user/signUp/facebook \
  -d '{}' \
  -H Content-type:application/json \
  -H X-Auth-AppKey:123 \
  -H X-Auth-External-Token:CAAL0ypjBVykBAO1uryb3fqu5n06BVEhv3yKt21SMefXGVfnAysZCBjSZCZBVJwuFXIHzqPFKZAsnZCG4EmNSH8hKMk4zCSjFZCbruZC5ZBqlVTp4zDdZACCC6uH5eG4vsXs5KDGeZAU3Js06DShAGwqxCr6qtPjfNc4fJRiS4m5B5OPTySSUu7JJOOx1wGu5jtAsJhQFPCiOADsHRTB1Y68LUr
  -v
</pre>
<h6>response</h6>
<pre class="prettyprint lang-js">
HTTP/1.1 200 OK
X-Auth-Token: IMPLEMENTAR
</pre>

<hr>
<h5>signIn:</h5>
<hr>
<h6>request</h6>

<pre class="prettyprint lang-js">
curl -X POST http://localhost:8081/user/signIn \
-H X-Auth-AppKey:123 \
-H X-Auth-Username:diogo \
-H X-Auth-Password:123 -v
</pre>
<h6>response</h6>
<pre class="prettyprint lang-js">
HTTP/1.1 200 OK
X-Auth-Token: 39f477b9-4ff0-4622-a087-f5c8b3b5fd9d

{
"id":"55c8ea44ce24e06ef1fd7bb0",
"addUser":"system",
"changeUser":"system",
"addDate":[2015,8,10,15,15,32,502000000],
"changeDate":[2015,8,10,15,15,32,502000000],
"version":0,
"firstName":null,
"lastName":null,
"username":"diogo",
"password":null,
"email":"diogocarleto@gmail.com",
"role":"ROLE_USER"
}
</pre>

<hr>
<h5>signIn using facebook accessToken:</h5>
<hr>
<h6>request</h6>

<pre class="prettyprint lang-js">
http://localhost:8081/user/signIn/{socialNetworkName}

curl -X POST http://localhost:8081/user/signIn/facebook \
-H X-Auth-AppKey:123 \
-H "X-Auth-External-Token:XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX -v
</pre>
<h6>response</h6>
<pre class="prettyprint lang-js">
  IMPLEMENTAR
</pre>

<hr>
<h5>Update user:</h5>
<hr>
<h6>request</h6>

<pre class="prettyprint lang-js">
curl -X PUT http://localhost:8081/user \
-d '{"id":"55d4d2d1ce24c4095ab1972a","addUser":"system","changeUser":"system","addDate":[2015,8,19,16,2,41,568000000],"changeDate":[2015,8,19,16,2,41,568000000],"version":0,"firstName":"Diogo","lastName":"Carleto","username":"diogo","password":null,"email":"diogocarleto@gmail.com","role":"ROLE_USER"}' \
-H X-Auth-AppKey:123 \
-H X-Auth-Token:e1720933-c045-4b8c-be17-34d642c927ad \
-H "Content-Type: application/json" -v
</pre>
<h6>response</h6>
<pre class="prettyprint lang-js">
HTTP/1.1 200 OK
{
"id":"55d4d2d1ce24c4095ab1972a",
"addUser":"system",
"changeUser":"diogo",
"addDate":[2015,8,19,16,2,41,568000000],
"changeDate":[2015,8,19,16,6,13,790000000],
"version":1,
"firstName":"Diogo",
"lastName":"Carleto",
"username":"diogo",
"password":null,
"email":"diogocarleto@gmail.com",
"role":"ROLE_USER"
}
</pre>


<hr>
<h5>Me:</h5>
<hr>
<h6>request</h6>

<pre class="prettyprint lang-js">
curl http://localhost:8081/user \
-H X-Auth-AppKey:123 \
-H X-Auth-Token:e1720933-c045-4b8c-be17-34d642c927ad
</pre>
<h6>response</h6>
<pre class="prettyprint lang-js">
HTTP/1.1 200 OK
{
"id":"55d4d2d1ce24c4095ab1972a",
"addUser":"system",
"changeUser":"diogo",
"addDate":[2015,8,19,16,2,41,568000000],
"changeDate":[2015,8,19,16,6,13,790000000],
"version":1,
"firstName":"Diogo",
"lastName":"Carleto",
"username":"diogo",
"password":null,
"email":"diogocarleto@gmail.com",
"role":"ROLE_USER"
}
</pre>

<hr>
<h5>Change password:</h5>
<hr>
<h6>request</h6>

<pre class="prettyprint lang-js">
http://localhost:8081/user/changePassword?newPassword={newPassword}

curl -X POST http://localhost:8081/user/changePassword?newPassword=456 \
-H X-Auth-AppKey:123 \
-H X-Auth-Token:9000a496-96a7-4ba0-9fbe-4e106d692b59
</pre>
<h6>response</h6>
<pre class="prettyprint lang-js">
HTTP/1.1 200 OK
{
"code":70000,
"message":"password changed."
}
</pre>

<hr>
<h5>Delete user:</h5>
<hr>
<h6>request</h6>

<pre class="prettyprint lang-js">
curl -X DELETE http://localhost:8081/user \
-H X-Auth-AppKey:123 \
-H X-Auth-Token:41ab8136-c856-48bb-be4f-f33d1d5da07d
</pre>
<h6>response</h6>
<pre class="prettyprint lang-js">
HTTP/1.1 200 OK
{
"code":70001,
"message":"user deleted."
}
</pre>
